{% extends "base.html" %}

{% block titulo %}
Dashboard
{% endblock %}

{% block contenido %}

<h2>Dashboard</h2>

<hr>

<div class="row">

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Ventas Hoy</h5>

<h2>S/.0.00</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Productos</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Clientes</h5>

<h2>0</h2>

</div>

</div>

</div>

<div class="col-md-3">

<div class="card">

<div class="card-body">

<h5>Boletas</h5>

<h2>0</h2>

</div>

</div>

</div>

</div>

{% endblock %}